
Skip to content
UMSIComplexWebDesign
/
simple-grid2023

Type / to search

Code
Issues
Pull requests
Actions
Projects
Security
Insights
Commit
Add files via upload
 main
@ColleenVanLent
ColleenVanLent committed 1 hour ago 
1 parent 50b85ee
commit 6b72bc6
 
Showing 8 changed files with 479 additions and 0 deletions.
Filter changed files
 100 changes: 100 additions & 0 deletions100  
css/reset.css
@@ -0,0 +1,100 @@
/***
    The new CSS reset - version 1.9 (last updated 19.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}
 103 changes: 103 additions & 0 deletions103  
css/style-answer.css
@@ -0,0 +1,103 @@
/****** Let's style our h1 & h2 headings *******/


/* 1. Make the text centered */

/* 2. Give it a margin of 10px */

/* 3. Font size should be twice the normal size  */

h1, h2{
	text-align: center;
	margin:10px;
	font-size:200%
  }

  /******* style the grid container  *******/

  /* 1. Give it a width of 800px */

  /* 2. Center it in the middle of the body */

  /* 3. Set the display to grid */

  /* 4. Give it 3 columns of equal size (1fr each) */

  /* 5. Set a g rid gap of 10px */

  /* 6. Add a background color of #91f321 */

  /* 7. Give it a background image using the image in the images folder */

  /* 8. Add a solid black 3px border */

  /* 9. Round the corners */


.grid {
	width: 800px;
	margin: auto;
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-gap: 10px;
	background-color: #91f321;
	background-image:url("../images/background.jpg");
	border: 3px solid black;
	border-radius: 20px	;	
	justify-content: space-around;
}




/******  Style the divs inside of the grid ******/

/* 1. Give them a 5px solid white border */

/* 2. Give them a background color of rgba(231, 157, 224, 0.5) */

/* 3.  Align the text in the boxes to the center;
/* 4. Add 20px of padding */

/* 5. Set a font-size of 30px   */

.grid > div {
	border: 5px solid white;
	background-color: rgba(231, 157, 224, 0.5);
	text-align: center;
	padding: 20px;
	font-size: 30px;
}

/* Go back to the parent container and play with ...*/
    /*justify-content:; */
	/* justify-items:;  */
	/* align-items:; */
	/* align-content:; */


/* Now try and style the individual boxes using grid-column  to match the picture at 1200px.*/

.item2, .item5{
	grid-column-start: 3;
}

.item3{
	grid-column-start: 2;
}

.item4{
	grid-column-start: 1;
}


.item_a{
	grid-column-start: 3;
	grid-row-start: 3;

}
.item_b{
	grid-column-start: 3;

}
 71 changes: 71 additions & 0 deletions71  
css/style.css
@@ -0,0 +1,71 @@
/****** Let's style our h1 & h2 headings *******/


/* 1. Make the text centered */

/* 2. Give it a margin of 10px */

/* 3. Font size should be twice the normal size  */








  /******* style the grid container  *******/

  /* 1. Give it a width of 800px */

  /* 2. Center it in the middle of the body */

  /* 3. Set the display to grid */

  /* 4. Give it 3 columns of equal size (1fr each) */

  /* 5. Set a g rid gap of 10px */

  /* 6. Add a background color of #91f321 */

  /* 7. Give it a background image using the image in the images folder */

  /* 8. Add a solid black 3px border */

  /* 9. Round the corners */










/******  Style the divs inside of the grid ******/

/* 1. Give them a 5px solid white border */

/* 2. Give them a background color of rgba(231, 157, 224, 0.5) */

/* 3.  Align the text in the boxes to the center;
/* 4. Add 20px of padding */

/* 5. Set a font-size of 30px   */






/* Go back to the parent container and play with ...*/
    /*justify-content:; */
	/* justify-items:;  */
	/* align-items:; */
	/* align-content:; */


/* Now try and style the individual boxes using grid-column  to match the picture at 1200px.*/

 Binary file addedBIN +343 KB 
images/background.jpg

 100 changes: 100 additions & 0 deletions100  
reset.css
@@ -0,0 +1,100 @@
/***
    The new CSS reset - version 1.9 (last updated 19.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}
 34 changes: 34 additions & 0 deletions34  
simple-grid.html
@@ -0,0 +1,34 @@
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="background.jpg">
	<link rel="stylesheet" type="text/css" href="css/html5reset.css">
	<link rel="stylesheet" href="css/style.css">

	<title>Simple Grid</title>
</head>
<body>
	<main>
		<h1>Grid Exercises</h1>
		<h2>Example #1</h2>
		<div class="grid">
  			<div class="item1">1</div>
  			<div class="item2">2</div>
  			<div class="item3">3</div>  
  			<div class="item4">4</div>
  			<div class="item5">5</div>
		</div>

		<h2>Example #2</h2>
		<div class="grid">
  			<div class="item_a">1</div>
  			<div class="item_b">2</div>
  			<div class="item_c">3</div>  
  			<div class="item_d">4</div>
  			<div class="item_e">5</div>
		</div>
	</main>
</body>
</html>
 Binary file addedBIN +1.92 MB 
simple_grid2023-1200px.pdf
Binary file not shown.
 71 changes: 71 additions & 0 deletions71  
style.css
@@ -0,0 +1,71 @@
/****** Let's style our h1 & h2 headings *******/


/* 1. Make the text centered */

/* 2. Give it a margin of 10px */

/* 3. Font size should be twice the normal size  */








  /******* style the grid container  *******/

  /* 1. Give it a width of 800px */

  /* 2. Center it in the middle of the body */

  /* 3. Set the display to grid */

  /* 4. Give it 3 columns of equal size (1fr each) */

  /* 5. Set a g rid gap of 10px */

  /* 6. Add a background color of #91f321 */

  /* 7. Give it a background image using the image in the images folder */

  /* 8. Add a solid black 3px border */

  /* 9. Round the corners */










/******  Style the divs inside of the grid ******/

/* 1. Give them a 5px solid white border */

/* 2. Give them a background color of rgba(231, 157, 224, 0.5) */

/* 3.  Align the text in the boxes to the center;
/* 4. Add 20px of padding */

/* 5. Set a font-size of 30px   */






/* Go back to the parent container and play with ...*/
    /*justify-content:; */
	/* justify-items:;  */
	/* align-items:; */
	/* align-content:; */


/* Now try and style the individual boxes using grid-column  to match the picture at 1200px.*/
